/* Mobile & Tablet */

@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header__navbar {
        background-color: #555;
        display: block;
        text-align: center;
    }
    .header__menu-nav {
        display: block;
    }
    .header__search,
    .header__logo {
        width: unset;
    }
    .header__content {
        height: unset;
    }
    .header__content-selection {
        display: block;
    }
    .header__content-themes {
        width: 100%;
        margin-bottom: 30px;
    }
    .first-slider__heading,
    .first-slider__btn {
        margin: 20px 0;
    }
    .row .best-recoment__time {
        margin: -3px 0 0;
    }
    .best-recoment__section {
        margin-top: 40px;
    }
    .best-recoment__time {
        max-width: 100%;
    }
    .best-tour__section {
        margin: 15px 0;
    }
    .footer__heading {
        float: none;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1024px) {
    .footer__heading {
        margin: 0;
    }
    .footer__input {
        max-width: 100%;
    }
}


/* Mobile */

@media (max-width: 739px) {
    .header__content {
        padding: 0 15px;
    }
    .header__content-selection {
        margin-left: 0;
        margin-right: 0;
    }
    .proposales-packages-item {
        margin: 8px 16px;
    }
    .first-slider {
        padding: 15px;
    }
    .best-recoment__time-remaining::after {
        display: none;
    }
    .best-tour__section {
        padding: 15px;
    }
    .footer__input-container {
        margin-left: 50px;
        margin-right: 50px;
        display: grid;
    }
    .footer__input {
        width: 100%;
        max-width: none;
        margin-bottom: 10px;
    }
}